<% 
msg = 'Textile reference'
title msg
%>


<h4>Textile reference</h4>

<h5>Why use it?</h5>
<p>
Means you can add additional formatting to your posts, 
such as linking to other websites, including images inline, 
or just adding emphasis and structure.
It is important to note, that you can just type normally and your text will be 
fine. You don't have to use textile markup if you just want a 'normal unformatted text'.
</p>


<%= render :partial => 'textile_ref' %>