/* 

IE sucks balls

This stylesheet attempts to overcome IE 6's shitty impleamentation of CSS...

If this offends you, go to http://getfirefox.com

*/

#fixed {
	float: left;
}

#nav {
	margin: 0;
	display: block;
	width: 100%;
}

#sub_nav {
	margin-left: 0;
}

