<label for="login">
	Login<br/>
	<%= f.text_field :login %>
</label>


<label for="email">
	Email<br/>
	<%= f.text_field :email %>
</label>

<label for="password">
	Password<br/>
	<%= f.password_field :password %>
</label>

<label for="password_confirmation">
	Confirm Password<br/>
	<%= f.password_field :password_confirmation %>
</label>
