<div id="related_photos" style="width">
<h4 class="note">Photos that have also been tagged <%= @active_tags.to_sentence %>&hellip;</h4>

<div id="slider">
<table border="0" cellspacing="0" cellpadding="0">
<tr>

<% @related_photos.each do |p| %>
<td><%= link_to photo_tag(p, :size => 'thumb'), photo_path(p), { :title => h(p.title) }%></td>
<% end %>

</tr>
</table>
</div>

</div>
