<% 
msg =  h(@photo.title.humanize)
title msg
%>

<h1><%= msg %></h1>

<%= photo_tag(@photo, :size => 'large') %>

<%= content_tag :div,@photo.description_html,{:class => 'description'} if @photo.description_html %>

<%= render :partial => 'related_photos' unless @related_photos.empty? %>
