<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title %>Silvana Del Bene Photography</title>

	<%= stylesheet_link_tag 'silvana' %>
	<%#= stylesheet_link_tag 'homepage' if @controller.name == 'homepage' %>
	
	<!--[if lte IE 6]>
	<%= stylesheet_link_tag 'ie_sucks_balls' %>	
	<![endif]-->
	
	<%= javascript_include_tag :defaults %>
</head>
<body>






<div id="main">
	
	
	<div id="fixed">
	<ul id="nav">
	<%= render :partial => 'shared/nav' %>
	<%= render :partial => 'shared/admin_nav' if logged_in? %>
	</ul>	
	</div>
	<!-- end of fixed -->
	
	<div id="sub_nav">	
	<%= render :partial => 'subnav' %>
	<%= render :partial => 'tags' if @tags %>
	</div>
	<!-- end of #sub_nav -->
	
	

	<!-- The flash!  -->
	<% flash.each do |key, msg| %>
	<%= content_tag :div, msg, :id => 'flash', :class => key %>
	<% end %>
	<!-- End of The flash! -->	


	<div id="content">
	<%= yield  %>
	<%= render :partial => 'admin_options' if logged_in? %>
	</div>


</div><!-- end of #main -->


</body>
</html>
